main {
  background-color: #d7d4d469; /* 灰色の背景色を設定 */
  height:200%; /* 高さをビューポートの高さの70%に設定 　ビューポートの高さに対して相対的な高さを設定したい場合は、vh単位を使用できます。100vhはビューポートの高さの100%を意味します。固定の高さ: 固定の高さを設定したい場合は、500pxのような固定値を使用できます。*/
}
/* bodyで画面全体（ヘッダーとかも含む）の背景を設定して上書きでヘッダー背景の色を指定 */
.header{
  background-color: #ffffff; /* ヘッダーの背景色を白に設定 */

}

.footer {
  background-color: #ffffff; /* フッターの背景色を白に設定 */
  height: 50px; /* フッターの高さを50pxに設定 */
  padding: 10px 0; /* 上下のパディングを10pxに設定し、左右のパディングを0に設定 */
}