.register__content{
  display: flex;
  flex-direction: column;
  /* 子要素( テキストや会員登録ボタン））を垂直 */
  
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポートの高さを100%に設定 */
  max-width: 1230px;
  /* 1230pxがPCの最大値 */
  margin: 0 auto; /* 左右のマージンを自動に設定して中央寄せ */
}

@media screen and (max-width: 1230px) {
  .register-form__content {
    width: 60vw;
  }
}

.register-form__heading {
  margin-top: 20px; /* 上の余白を20pxに設定 会員登録の文字の上の部分に余白ができる*/
}


/* フォーム部分　名前から会員登録ボタンまで　親register__contentを基準にフォームの横幅を300px */
form{
  width: 300px;
  margin: 0 auto;/* form の左右をautoにすることで中央寄せ*/
}
.form__group {
  width: 100%; /* 横幅を100%に設定 */
  max-width: none; /* max-widthをnoneに設定 */
  margin-bottom:10px;/* 例）各テキスト枠（名前等）の下に 外側の余白*/
}
input {
 width: 100%; /* 横幅を100%に設定 */
 max-width: 500px; /* 最大横幅を500pxに設定 */
  height: 30px;
}
.register-button {
  width: 100%; /* ボタンの横幅を親要素の幅に合わせる "form__button"のサイズと１００パーセント一緒　*/
  background-color: #2029a9; /* ボタンの背景色を青に設定 */
  color: white; /* ボタンの文字色を白に設定 */
  border-radius: 5px;/* ボタンの角を丸く */
  height: 30px;
}


.login-link{
  margin-bottom:50px;
  /* ログイン　リンクとフッターまでの余白を作成 */
}

p{
  font-size: 12px;
}

/* ログインリンク */
a{
  display: block;
  text-align: center; 
  color:#2029a9;  
  font-size: 12px;
  font-weight: bold;
}