.header__links {
    display: flex;
    justify-content:flex-end;
}
/* リンク同士に余白を作る、CSSを使用して各リンクにマージンを追加 */
.header__links a {
    margin-right: 10px; /* 右側に10pxの余白を追加 */
}

.header__links a:last-child {
    margin-right: 0; /* 最後のリンクには右側の余白を追加しない */
}

stamp__content{
    margin: 0 auto; 
}

.welcome-message {
    text-align: center;
    margin-top: 30px;

}



.buttons {
    width: 100%;
    max-width: 800px;
    /*  テーブルの最大幅を設定 */
    margin: 0 auto; /* テーブルを中央に配置 */
}

.buttons tr {
    margin-bottom: 30px; /* ボタンの行間にスペースを追加 */
}

.buttons td {
    text-align: center; /* ボタンを中央に配置 */
    padding: 15px; /* ボタンの内側のスペースを調整 */
}

.inner-items-lower{
    margin-bottom: 60px;
}

button {
    padding: 40px 150px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white; /* ボタンの背景色を白に設定 */
    color: black; /* ボタンのテキスト色を黒に設定 */
}

/* ユーザーがボタンをクリックする際には、ボタンの背景色が変わることを示すために、:hoverや:activeのような擬似クラスを使用して、マウスオーバー時やクリック時の視覚効果 */
button:hover {
    background-color: #fffefec3; /* マウスオーバー時の背景色を薄い灰色に設定 */
}

button:active {
    background-color: #ffffffce; /* クリック時の背景色をさらに薄い灰色に設定 */
    color: #bbbabafd;
}
